# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Vite / build
dist/
.vite/
*.local

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
